.intro-img-box {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
}

.intro-imga-box {
    margin: 4rem auto;
}

.intro-imgb-box {
    display: none;
}

.intro-img-box img {
    border-radius: 2rem;
    width: 100%;
    aspect-ratio: 3/2 auto;
    object-fit: cover;
    overflow: hidden;
}

.intro-content-box h1 {
    margin: 2rem 0;
    font-size: 3rem;
    text-align: center;
}

.intro-content-box p {
    margin: 2rem 0;
    font-size: 1.5rem;
    color: var(--text-grey);
    text-align: center;
}

.intro-content-box .btn {
    margin: unset;
    width: 100%;
}

.services-box h1 {
    margin: 0 0 3rem 0;
    font-size: 2.5rem;
    text-align: center;
}

.services-cards-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-card {
    max-width: 500px;
    margin: 1rem 0;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0 1px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.services-card .icon-box {
    width: 50px;
    height: 50px;
}

.services-card-content h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.services-card-content p {
    font-size: 1.5rem;
}

.course-box {
    background-color: var(--blue-primary);
    color: var(--text-white);
    margin-bottom: 3rem;
}

.course-box h1 {
    margin: 2rem 0;
    font-size: 2.5rem;
    text-align: center;
}

.course-wrapper {
    margin: 5rem 0;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-secondary);
}

.course-image img {
    width: 100%;
    border-radius: 2rem 2rem 0 0;
}

.course-content {
    margin: 2rem;
}

.course-content p {
    font-size: 1.5rem;
}

.course-content h1 {
    margin-top: 0;
    font-size: 3rem;
    text-align: unset;
}

.course-content li {
    list-style-type: square;
    font-size: 1.5rem;
    margin: 1.5rem 0 1.5rem 1.5rem;
}

.course-content .section-btn-box {
    margin-top: 3rem;
}

.reviews-img-box {
    margin: auto;
    width: 100%;
    max-width: 600px;
}

.reviews-img-box img {
    border-radius: 2rem;
    width: 100%;
    aspect-ratio: 3/2 auto;
    object-fit: cover;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 5px;
}

.reviews-content-box {
    margin: 2rem 0;
}

.reviews-content-box h1 {
    margin: 2rem 0;
    font-size: 2.5rem;
    text-align: center;
}

.review-card {
    padding: 0 1rem;
}

.review-card .icon-box {
    width: 50px;
    height: 50px;
}

.review-card h2 {
    margin: 1rem 0;
    font-size: 2rem;
}

.review-card p {
    margin: 1rem 0;
    font-size: 2rem;
}

@media screen and (min-width: 600px) {
    .services-cards-box {
        padding: 3rem;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        justify-content: unset;
        align-items: unset;
    }

    .services-card {
        max-width: unset;
        margin: 0;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .services-card .icon-box {
        width: 40px;
        height: 40px;
    }
    
    .services-card-content h2 {
        text-align: center;
    }
    
    .services-card-content p {
        text-align: center;
    }

    .reviews-content-box {
        margin: auto;
        max-width: 600px;
    }
    
}

@media screen and (min-width: 900px) {
    .intro-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    .intro-content-box {
        margin: 0 4rem;
    }

    .intro-content-box h1 {
        text-align: left;
    }
    
    .intro-content-box p {
        text-align: left;
    }

    .intro-content-box .section-btn-box {
        text-align: left;
    }

    .intro-content-box .btn {
        margin: 0 1rem 0 0;
    }

    .intro-imga-box {
        display: none;
    }

    .intro-imgb-box {
        display: block;
        max-width: 800px;
    }

    .services-cards-box {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .course-box {
        display: flex;
        justify-contnet: center;
        align-items: center;
        flex-direction: column;
    }

    .course-wrapper {
        max-width: 90rem;
        flex-direction: row;
        position: relative;
    }

    .course-image {
        width: 48%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
        display: flex;
    }

    .course-image img {
        border-radius: 2rem 0 0 2rem;
    }

    .course-content {
        margin-left: 50%;
    }

    .reviews-box {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }

    .reviews-content-box {
        margin: unset;
    }

    .reviews-content-box h1 {
        margin: 0 1rem;
        text-align: left;
    }

    .reviews-img-box {
        margin: auto;
        width: 100%;
        min-width: 500px;
        max-width: 800px;
    }
}
