section {
    padding: 2rem; 
    width: 100%;
}

.intro-imga-box {
    margin: 3rem 0;
    width: 100%;
}

.intro-imga-box img {
    border-radius: 2rem;
    width: 100%;
    aspect-ratio: 3/2 auto;
    object-fit: cover;
    overflow: hidden;
}

.intro-content-box h1 {
    margin: 2rem 0;
    font-size: 3rem;
    text-align: center;
}

.intro-content-box p {
    margin: 2rem 0;
    font-size: 1.5rem;
    color: var(--text-grey);
    text-align: center;
}

.course-box {
    background-color: var(--blue-primary);
}

.course-box h1 {
    margin: 2rem 0;
    font-size: 2.5rem;
    color: var(--text-white);
    text-align: center;
}

.course-box p {
    margin: 2rem 0;
    font-size: 1.5rem;
    color: var(--text-white);
    text-align: center;
}

.course-intro-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.course-info-card {
    margin: 2rem 0;
}

.course-info-card-img-box {
    width: 100%;
    aspect-ratio: 3/2 auto;
    border-radius: 1rem;
    margin-bottom: 2rem;
    background-color: var(--blue-secondary);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.course-info-card-icon-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-info-card-icon-border-box {
    padding: 2rem;
    border-radius: 1rem ;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 5px;
    background-color: var(--blue-primary);
}

.course-info-card-icon-box .icon-box {
    width: 35px;
    height: 35px;
}

.course-info-card-img-box p {
    opacity: 0.5;
    margin: 1rem;
}

.course-info-card-icon-box svg {
    fill: var(--text-white);
}

.course-info-card-content-box {
    padding: 0 2rem;
}

.course-info-card-content-box h2 {
    margin: 1rem 0;
    font-size: 2rem;
    color: var(--text-white);
    text-align: left;
}

.course-info-card-content-box p {
    margin: 1rem 0;
    font-size: 1.5rem;
    color: var(--text-white);
    text-align: left;
}

.services-box h1 {
    margin: 2rem 0;
    font-size: 2.5rem;
    text-align: center;
}

.services-cards-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-card {
    max-width: 400px;
    margin: 2rem 0;
    padding: 1rem 2rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0 1px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.services-card .icon-box {
    width: 50px;
    height: 50px;
}

.services-card-content h2 {
    margin: 1rem 0;
    font-size: 2rem;
}

.services-card-content p {
    margin: 1rem 0;
    font-size: 1.5rem;
}

.reviews-img-box {
    width: 100%;
    aspect-ratio: 3/2 auto;
}

.reviews-img-box img {
    border-radius: 2rem;
    width: 100%;
    aspect-ratio: 3/2 auto;
    object-fit: cover;
    overflow: hidden;
}

.reviews-content-box {
    margin: 2rem 0;
}

.reviews-content-box h1 {
    margin: 2rem 0;
    font-size: 2.5rem;
    text-align: center;
}

.review-card {
    margin: 2rem;
    padding: 1rem;
}

.review-card h2 {
    margin: 1rem 0;
    font-size: 2rem;
}

.review-card p {
    margin: 1rem 0;
    font-size: 1.5rem;
}
