@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Slab:wght@100..900&display=swap');

:root {
    --green1: hsl(158, 100%, 13%);
    --green2: hsl(100, 87%, 70%);
    --yellow1: hsl(60, 75%, 60%);
    --white1: hsl(0, 0%, 100%);
    --grey1: hsl(0, 0%, 25%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.font-oswald-700 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.font-oswald-400 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.font-rs-400 {
    font-family: "Roboto Slab", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.text-imp {
    color: var(--yellow1);
    font-weight: 900;
}

.wrapper {
    max-width: 625px;
    padding: 0 1rem;
    text-align: center;
}

.wrapper h1 {
    margin: 0 0 5rem;
    font-size: 3.6rem;
    text-align: center;
    color: var(--white1);
}

.wrapper p {
    margin: 4rem 0;
    font-size: 1.6rem;
    text-align: center;
    color: var(--white1);
}

.container-btn-nav {
    margin: 5rem 0 0;
    display: flex;
    justify-content: center;
}

.container-btn-nav a {
    background-color: var(--green2);
    padding: 0.5rem 2rem;
    font-size: 1.6rem;
    text-align: center;
    color: var(--green1);
    text-transform: uppercase;
}

html {
    font-size: 10px;
    background-color: var(--green1);
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--grey1);
}

.logo {
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
    color: var(--white1);
    text-transform: uppercase;
}

.container-btn-top {
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-top {
    background-color: var(--green2);
    padding: 0.5rem 1.5rem;
    font-size: 1.6rem;
    text-align: center;
    color: var(--green1);
    text-transform: uppercase;
    display: block;
}

.container-hero {
    min-height: calc(100vh - 51px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-what {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-need {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
