.menu-btn {
    border: none;
    outline: none;
    background-color: #fff;
    cursor: pointer;
}

.mobile-nav-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    transition: 0.3s;
}

.mobile-menu-box {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    width: 0px;
    height: 100vh;
    max-width: 250px;
    background-color: #fff;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
}

.menu-btn-close-box {
    margin: 2rem;
    text-align: right;
}

.mobile-nav-box {
    margin: 2rem;
    flex: 1;
}

.mobile-nav-box a {
    display: block;
    margin: 1rem 0;
    font-size: 3rem;
    text-align: end;
    color: var(--text-grey);
    opacity: 0.8;
}

.mobile-nav-box a.active {
    color: var(--text-black);
    opacity: 1;
}

.menu-desktop a:hover {
    color: var(--text-black);
    opacity: 1;
}

@media screen and (min-width: 600px) {
    .menu-btn {
        display: none;
    }

    .mobile-menu-box {
        display: none;
    }
}
