.menu-marker {
    color: var(--white-3);
    cursor: pointer;
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    min-height: 100vh;
    background-color: var(--slate-3);
}

.menu-container nav {
    display: block;
    min-height: calc(100vh - 46px);
    box-shadow: -1px -1px 1px var(--slate-2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-mobile-links {
    display: block;
    margin: 2rem 0;
    font-family: "Oswald";
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-3);
}

.nav-mobile-links:hover {
    color: var(--blue-1);
}

@media screen and (min-width: 450px) {
    .menu-marker {
        display: none;
    }

    .menu-container {
        display: none;
    }
}
