footer {
    padding: 1rem;
    background-color: var(--slate-3);
    color: var(--white-3);
}

.footer-wrapper {
    display: flex;
}

.footer-cta {
    padding: 2rem;
    width: 50%;
}

.footer-cta .logo {
    margin-bottom: 1rem;
}

.footer-cta p {
    margin-top: 1rem;
    font-family: "Playfair Display";
    font-weight: 400;
    font-size: 1.6rem;
}

.footer-nav {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .footer-wrapper {
        flex-direction: column;
    }
    .footer-cta {
        width: 100%;
        text-align: center;
    }
    .footer-nav {
        width: 100%;
        justify-content: center;
    }
}
